body{
    font-size: 1.2em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}
.brand{
    background-color: black;
    color: gold;
    display:grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}
.brand span{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    grid-column: 0;
    margin: auto;
}
.brand h1{
    display: inline;
    grid-column: 2;
    margin-left:0.5em;
}
.post-summary{
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
}
.post-summary img{
    grid-column: 1;
}
.post-summary div{
    grid-column: 2;
}

